p {
  font-family: Offside;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #000000;
}

h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

input {
  background: #c4c4c4;
  width: 350px;
}

#botonVolver {
  height: 140px;
}

#botonValidar {
  height: 80px;
}

button {
  font-family: raleway;
  font-size: 20px;
  border-radius: 50%;
  background: #97de7e;
}

#iconoTarjeta {
  width: 5%;
  padding-left: 25px;
  vertical-align: middle;
}

#containerText {
  text-align: center;
  padding: 20px;
}

#numbercard {
  vertical-align: middle;
}

#pantalla1 {
  text-align: center;
  padding-top: 5%;
}
#pantalla2 {
  text-align: center;
  margin-top: 12%;
}
#pantalla3 {
  text-align: center;
  margin-top: 12%;
}

body {
  background-image: url("ojo2.png");
  background-repeat: no-repeat;
  background-position: 50% 300%;
}
